<article>
    <div>
        {{title}}
    </div>
    <div>
        Created by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.lenth}}</a>
    </div>
</article>